html{
  padding: 0;
  margin: 0;
  font-family: Playfair Display;
  font-size: 10px;
}

body {
  padding: 0;
  margin: 0;
  font-size: 1.5rem;
  line-height: 2;
  background: $primary-dark-color;
}

a {
  color: inherit;
  text-decoration: none;
  color: $primary-dark-color;
}

* {
  box-sizing: border-box;
}
