.container {
    padding: 0 2rem;
}

.main {
    min-height: 100vh;
    flex: 1;
    display: flex;
    flex-direction: column;
    padding-top: 8rem;
    // justify-content: center;
    align-items: center;
}

.pressContainer {
    margin-top: -6rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.pressTitleContainer {
    transform: skew(-7deg);
}

.pressTitleInnerContainer {
    font-size: 3rem;
    font-family: Playfair Display;
    color: $primary-dark-color;
    text-align: center;
    background-color: $primary-light-color;
    padding: 0 1rem;
}

.pressTitle {
    background-color: $primary-white;
    padding: 0 27rem;

    @media (max-width: 900px) {
        padding: 0 5rem;
    }
}

.pressText {
    transform: skew(7deg);
}

.innerContainer {
    display: inline-flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    height: 120vh;
    column-gap: 4rem;
    row-gap: 3rem;

    @media (max-width: 820px) {
        height: 210vh;
    }

    @media (max-width: 560px) {
        height: 230vh;
    }

    @media (max-width: 370px) {
        height: 130vh;
    }
}

.innerReviewsContainer {
    display: inline-flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    height: 250vh;
    column-gap: 4rem;
    row-gap: 3rem;

    @media (max-width: 820px) {
        height: 350vh;
    }

    @media (max-width: 560px) {
        height: 310vh;
        column-gap: 2rem;
    }
}

.pressCard {
    width: 22.5%;

    @media (max-width: 820px) {
        width: 45%;
    }
}

.reviewCard {
    width: 31%;

    @media (max-width: 820px) {
        width: 45%
    }

    @media (max-width: 375px) {
        width: 48%
    }
}