$primary-dark-color: #383879;
$primary-light-color: #9CBFE3;
$primary-offset-color: #FFC857;
$primary-black: #060404;
$primary-white: #E6D3C6;
$box-shadow: rgba(255, 200, 87, 0.4) -5px -5px, rgba(255, 200, 87, 0.3) -10px -10px, rgba(255, 200, 87, 0.2) -15px -15px, rgba(255, 200, 87, 0.1) -20px -20px, rgba(255, 200, 87, 0.05) -25px -25px;
